[*.cs]
dotnet_diagnostic.ca5392.severity = none # Use DefaultDllImportSearchPaths attribute for P/Invokes
dotnet_diagnostic.ca1031.severity = none # Do not catch general exception types
dotnet_diagnostic.ca1032.severity = none # Implement standard exception constructors

[*.generated.cs]
dotnet_diagnostic.cs1591.severity = none # Missing XML comment for publicly visible type or member
