name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches: [main]
  workflow_call:
    outputs:
      check-passed:
        description: "Checks passed"
        value: ${{ jobs.check.outputs.status }}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always
  DOTNET_NOLOGO: true
  DOTNET_CLI_TELEMETRY_OPTOUT: true

jobs:
  check:
    name: Check
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: "10.0.x"

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@4be9e76fd7c4901c61fb841f559994984270fce7
        with:
          components: clippy

      - name: Restore Rust Cargo Cache
        id: cache-rust-cargo
        uses: actions/cache/restore@v5
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            native/target/
          key: ubuntu-24.04-cargo-${{ hashFiles('native/Cargo.*') }}
          restore-keys: |
            ubuntu-24.04-cargo-
        continue-on-error: true

      - name: Setup Protoc
        uses: arduino/setup-protoc@v3

      - name: Run Build
        run: dotnet build -c Release

      - name: Run Test
        run: dotnet test --no-build -c Release -v n --logger 'console;verbosity=normal'
        timeout-minutes: 5

      - name: Run Rust Cargo Clippy
        working-directory: native
        run: cargo clippy --release --all-targets -- -D warnings
      
      - name: Save Rust Cargo Cache
        uses: actions/cache/save@v5
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            native/target/
          key: ${{ steps.cache-rust-cargo.outputs.cache-primary-key }}
        continue-on-error: true

  sonar:
    name: SonarCloud
    needs: check
    if: github.repository == 'nazarii-piontko/datafusion-sharp' && ((github.event_name == 'pull_request' && github.base_ref == 'main') || github.ref == 'refs/heads/main')
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: "10.0.x"

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@4be9e76fd7c4901c61fb841f559994984270fce7
        with:
          components: clippy
          
      - name: Setup JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: 'zulu'

      - name: Restore Rust Cargo Cache
        id: cache-rust-cargo
        uses: actions/cache/restore@v5
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            native/target/
          key: ubuntu-24.04-cargo-${{ hashFiles('native/Cargo.*') }}
          restore-keys: |
            ubuntu-24.04-cargo-
        continue-on-error: true

      - name: Setup Protoc
        uses: arduino/setup-protoc@v3

      - name: Install SonarQube Tools
        if: steps.cache-sonar-scanner.outputs.cache-hit != 'true'
        shell: bash
        run: |
          dotnet tool install --global dotnet-sonarscanner
          dotnet tool install --global dotnet-coverage

      - name: Build and Analyze
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        shell: bash
        run: |
          dotnet sonarscanner \
            begin \
            /k:"nazarii-piontko_datafusion-sharp" \
            /o:"npiontko" \
            /d:sonar.token="$SONAR_TOKEN" \
            /d:sonar.cs.vscoveragexml.reportsPaths=coverage.xml
          
          dotnet build -c Release
          dotnet coverage collect "dotnet test --no-build -c Release" -f xml -o "coverage.xml"
          
          dotnet sonarscanner end /d:sonar.token="$SONAR_TOKEN"

      - name: Save Rust Cargo Cache
        uses: actions/cache/save@v5
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            native/target/
          key: ${{ steps.cache-rust-cargo.outputs.cache-primary-key }}
        continue-on-error: true